### Overlap and assessment

In [76]:
import pandas as pd
import numpy as np

In [3]:
data_d = pd.read_csv('../data/tech.csv')
data_p = pd.read_csv('../data/tech2.csv')

In [4]:
len(data_p)

7530

In [5]:
len(data_d)

2052

---

In [6]:
data_outer = pd.merge(
    data_p,
    data_d,
    how='outer',
    on='id',
    suffixes=('_prob', '_det')
)

In [7]:
len(data_outer)

8048

In [44]:
data_inner = pd.merge(
    data_p,
    data_d,
    how='inner',
    on='id',
    suffixes=('_prob', '_det')
)

In [45]:
len(data_inner)

1534

---

In [25]:
len(
    list(
        set(list(data_d.id)) - set(list(data_p.id))))

518

In [26]:
len(
    list(
        set(list(data_p.id)) - set(list(data_d.id))))

5996

---

How does it look the ones that match on deterministic but not probabilistic?  
How does it look all the way around?

In [47]:
data_inner.columns

Index(['Unnamed: 0_prob', 'id', 'acronym_prob', 'title_prob', 'objective_prob',
       'startDate_prob', 'endDate_prob', 'ecMaxContribution_prob',
       'matches_group_prob', 'matches_technology_prob', 'count_matches_prob',
       'category', 'Unnamed: 0_det', 'acronym_det', 'title_det',
       'objective_det', 'startDate_det', 'endDate_det',
       'ecMaxContribution_det', 'coordinator', 'coordinatorCountry',
       'matches_group_det', 'matches_technology_det', 'number_unique_terms',
       'count_matches_det'],
      dtype='object')

In [61]:
#data_inner[data_inner['matches_group_det'] != data_inner['matches_group_det']]

In [69]:
inner_table = data_inner[['id','category']]

In [70]:
inner_table.groupby('category').count()['id'].sort_values()#.plot()

category
Building design nanomaterial                           1
heat pump Vehicle design                               1
heat pump energy storage                               1
heat pump energy tower                                 1
heat pump renewable energy                             1
heat pump renewable energy Building design             1
heat pump smelt reduction                              1
inert anode local manufacturing                        1
lightweight transport solar cell                       1
livestock management Waste management                  1
livestock management management of waste               1
heat pump Use of innovative materials                  1
local manufacturing CAES                               1
local manufacturing OTEC                               1
local manufacturing Other renewable energy sources     1
local manufacturing Resource saving                    1
local manufacturing SAPS                               1
local manufacturing Waste management                   1
local manufacturing afforestation                      1
local manufacturing direct casting                     1
local manufacturing distributed production             1
local manufacturing electric vehicle                   1
local manufacturing fuel cell                          1
local manufacturing Cleaner product                    1
local manufacturing gasification of waste              1
heat pump System innovation                            1
heat pump PV local manufacturing                       1
geothermal energy Building design                      1
geothermal energy CAES livestock management            1
geothermal energy Energy use innovation                1
                                                      ..
bioplastic distributed production                      5
Fuel distributed production                            5
Other renewable energy sources nanomaterial            5
biopolymer nanomaterial                                5
biofuel Fuel                                           6
geothermal energy geothermal power                     6
recycling System innovation                            6
recycling electric vehicle                             6
biorefinery biorefinery design                         6
recycling Waste management                             7
renewable energy solar cell                            7
recycling CAES                                         7
recycling bioplastic                                   8
energy storage Storage                                 8
forest management Waste management                     9
Wind renewable energy                                  9
photovoltaic solar cell                                9
soil management grid management waste management       9
data centre data center                               10
agrosylviculture agro-sylviculture                    10
renewable energy wave energy                          10
recycling Cleaner product                             11
energy storage energy tower                           11
recycling nanomaterial                                12
renewable energy energy storage                       14
traffic management straw management                   14
offshore wind onshore wind                            16
renewable energy Other renewable energy sources       28
Waste management waste management straw management    35
Other renewable energy sources renewable energy       45
Name: id, Length: 964, dtype: int64

In [72]:
inner_table.head()

       id                                           category
0  835398               reforestation distributed production
1  835541                 forest management Waste management
2  812602                      bioplastic protection of soil
3  811592                                DSM Cleaner product
4  847641  Waste management waste management nutrient man...

In [88]:
#random choice
sample_list = list(np.random.choice(list(inner_table.id), 91, replace=False))

In [73]:
cordish2020 = pd.read_excel('../data/cordis-h2020projects.xlsx')

In [95]:
cordish2020[cordish2020.id.isin(sample_list)][['title','objective','coordinator']].to_csv('../data/sample.csv')

In [296]:
cordish2020[cordish2020.id.isin(list(inner_table.id))].to_csv('../data/inner_table.csv')

---

### After assessment

In [96]:
sample_lab = pd.read_csv('../data/sample_lab.csv')

In [102]:
sample_lab.label.sum()*100/len(sample_lab)

93.4065934065934

---
### Demanded technologies

In [103]:
categories = pd.read_excel('../data/categories.xls')
categories = categories.fillna(method='ffill')
categories.columns = ['sector','technology_group','technology','description','technology_term','source','priority']
categories.head()

,sector,technology_group,technology,description,technology_term,source,priority
0,Energy,Solar energy sources,solar PV,Also “solar photovoltaic”; technology of using...,"photovoltaic, PV, “solar cell”",https://www.ctc-n.org/technologies/solar-pv,1
1,Energy,Solar energy sources,concentrated solar power (CSP),Technology of producing electricity by concent...,"“concentrated solar power”, CSP, “concentrated...",https://setis.ec.europa.eu/technologies/concen...,1
2,Energy,Solar energy sources,solar heating,Technology of capturing the sun's radiation an...,“solar heating”,https://www.ctc-n.org/technologies/solar-heating,0
3,Energy,Solar energy sources,solar dryer,"Technology of drying substances, especially fo...",“solar dryer”,https://www.ctc-n.org/technologies/solar-dryer,0
4,Energy,Solar energy sources,solar water pump,Technology of powering electrical water pumps ...,“solar water pump”,https://www.ctc-n.org/technologies/solar-water...,0

In [106]:
len(categories.technology)

99

In [107]:
categories.priority.sum()

42

In [164]:
100*categories.priority.sum()/len(categories.technology)

42.42424242424242

---
### Supplied technologies

In [203]:
technology_table = pd.DataFrame()
# unnest the messy matches
list_technologies = data_inner['matches_technology_det']
number_matches, cleaned_lists = [], []
for l in list_technologies:
    new_l = l.replace("[","").replace("]","").replace(" '","").replace("'","").replace("'","").split(',')
    cleaned_lists.append(new_l)
    number_matches.append(len(new_l))
technology_table['technology_terms'] = [y for x in cleaned_lists for y in x] 
#len(number_matches) == len(data_inner.id)
#create a list with project id that equals the terms
ids = [[i]*j for i,j in zip(data_inner.id, number_matches)]   
technology_table['id'] =  [y for x in ids for y in x]

In [204]:
categories.head()

,sector,technology_group,technology,description,technology_term,source,priority
0,Energy,Solar energy sources,solar PV,Also “solar photovoltaic”; technology of using...,"photovoltaic, PV, “solar cell”",https://www.ctc-n.org/technologies/solar-pv,1
1,Energy,Solar energy sources,concentrated solar power (CSP),Technology of producing electricity by concent...,"“concentrated solar power”, CSP, “concentrated...",https://setis.ec.europa.eu/technologies/concen...,1
2,Energy,Solar energy sources,solar heating,Technology of capturing the sun's radiation an...,“solar heating”,https://www.ctc-n.org/technologies/solar-heating,0
3,Energy,Solar energy sources,solar dryer,"Technology of drying substances, especially fo...",“solar dryer”,https://www.ctc-n.org/technologies/solar-dryer,0
4,Energy,Solar energy sources,solar water pump,Technology of powering electrical water pumps ...,“solar water pump”,https://www.ctc-n.org/technologies/solar-water...,0

In [205]:
matrix = []
for term in categories['technology_term']:
    row = [x.strip() for x in term.split(',')]
    row = [i.replace('“', '').replace('”', '') for i in row]
    matrix.append(row)

In [206]:
tech_dict = {key: value for (key, value) in zip(categories.technology, matrix)}

In [208]:
technology_table['category'] = None

In [212]:
for i in technology_table.index:
    for k,v in tech_dict.items():
        for j in v:
            if technology_table.loc[i,'technology_terms'] == j:
                technology_table.loc[i, 'category'] = k

In [235]:
technology_table.sort_values('id').head() #repeated ids

        technology_terms      id          category
1405           recycling  633192         recycling
1404  efficient lighting  633192  low GHG lighting
845            recycling  633962         recycling
844           bioplastic  633962       bioplastics
935      soil management  635201   soil management

In [238]:
technology_table.groupby('category').count()['id'].sort_values(ascending=False)

category
low GHG steel                                      385
solar PV                                           302
recycling                                          211
energy storage                                     190
fuel cell                                           79
waste management                                    77
geothermal                                          70
carbon capture and storage                          69
concentrated solar power (CSP)                      68
grid management                                     67
combined heat and power (CHP)                       58
electric vehicle design                             43
biofuel                                             42
district heating and/or cooling                     40
traffic management                                  39
heat pumps                                          37
offshore wind                                       37
wave energy                                         29
nanomaterial                                        28
forest management                                   27
biorefinery design                                  25
thermal storage                                     25
demand-side energy management                       24
low GHG data centers                                24
tidal energy                                        20
biopolymer                                          17
bioplastics                                         14
micro-grids                                         13
liquefied natural gas (LNG)                         12
soil management                                     10
                                                  ...
solar heating                                        8
distributed manufacturing                            7
combined cycle power plant                           6
biochar                                              6
osmotic                                              5
energy-from-waste                                    5
nutrient management                                  5
compressed/converted natural gas                     4
onshore wind                                         4
regenerative braking                                 4
ocean thermal energy conversion (OTEC)               4
off-grid systems                                     3
nuclear fusion                                       3
agroforestry                                         3
compressed air energy storage (CAES)                 3
livestock management                                 3
electron acceptor                                    2
updraft                                              2
non-motorised transport design                       2
passive house                                        2
reduced need for travel                              1
waste heat reuse                                     1
inert anode                                          1
improved durability                                  1
downdraft                                            1
nuclear fission                                      1
new sources of protein                               1
manure management                                    1
low GHG public transport / rapid transit design      1
direct seeding                                       1
Name: id, Length: 63, dtype: int64

In [242]:
#put the money and the rest of features
cordish2020[['id','ecMaxContribution']].head() #'acronym','title','startDate','objective',

       id  ecMaxContribution
0  837750        19630411.18
1  818184         6004252.50
2  815147         4991323.75
3  817642         5995904.00
4  825731         4017817.50

In [262]:
cost_per_category = pd.merge(technology_table, cordish2020[['id','ecMaxContribution']], how='left', on='id')
cost_per_category = cost_per_category.groupby('category').agg(
    ['mean','sum'])['ecMaxContribution'].sort_values(['sum','mean'], ascending=False).reset_index()
cost_per_category = pd.merge(cost_per_category, 
                             categories[['sector','technology','priority']], how='left',
                             left_on='category', right_on='technology')
cost_per_category = cost_per_category[['sector','technology','priority','mean','sum']]

In [263]:
cost_per_category.head(10)

,sector,technology,priority,mean,sum
0,Industry,low GHG steel,0,2.351494e+06,9.053252e+08
1,Energy,solar PV,1,1.950508e+06,5.890533e+08
2,Human settlements,recycling,0,2.518069e+06,5.313126e+08
3,Energy,energy storage,0,2.533548e+06,4.813741e+08
4,Energy,geothermal,1,4.934920e+06,3.454444e+08
5,Transport,fuel cell,0,3.971767e+06,3.137696e+08
6,Energy,grid management,1,4.049332e+06,2.713052e+08
7,Energy,concentrated solar power (CSP),1,3.295332e+06,2.240826e+08
8,Industry,carbon capture and storage,1,3.016954e+06,2.081698e+08
9,Human settlements,waste management,0,2.354403e+06,1.812890e+08

In [285]:
def grouping(cost_per_category, category, agg):
    agg_df = cost_per_category.groupby(category).sum()[str(agg)].reset_index()
    agg_df['percentage'] = agg_df[str(agg)]*100/agg_df[str(agg)].sum()
    agg_df = agg_df.sort_values('percentage', ascending=False)
    return agg_df

In [286]:
tech_sum = grouping(cost_per_category, ['priority','technology'], 'sum') 
sector_sum = grouping(cost_per_category, 'sector', 'sum') 
priority_sum = grouping(cost_per_category, 'priority', 'sum')

In [288]:
tech_sum#.head()

,priority,technology,sum,percentage
13,0,low GHG steel,9.053252e+08,14.872799
57,1,solar PV,5.890533e+08,9.677044
23,0,recycling,5.313126e+08,8.728472
6,0,energy storage,4.813741e+08,7.908076
45,1,geothermal,3.454444e+08,5.675005
7,0,fuel cell,3.137696e+08,5.154647
46,1,grid management,2.713052e+08,4.457037
37,1,concentrated solar power (CSP),2.240826e+08,3.681257
35,1,carbon capture and storage,2.081698e+08,3.419841
28,0,waste management,1.812890e+08,2.978240
41,1,district heating and/or cooling,1.796751e+08,2.951725
60,1,traffic management,1.739252e+08,2.857266
36,1,combined heat and power (CHP),1.710958e+08,2.810784
34,1,biorefinery design,1.488818e+08,2.445850
55,1,offshore wind,1.397011e+08,2.295027
58,1,thermal storage,1.042644e+08,1.712869
47,1,heat pumps,1.022275e+08,1.679406
31,1,biofuel,1.016568e+08,1.670030
38,1,demand-side energy management,8.734684e+07,1.434945
59,1,tidal energy,8.708085e+07,1.430575
42,1,electric vehicle design,8.568994e+07,1.407725
15,0,nanomaterial,6.605166e+07,1.085105
62,1,wave energy,5.983902e+07,0.983043
10,0,low GHG data centers,5.005764e+07,0.822353
14,0,micro-grids,4.002983e+07,0.657615
0,0,biochar,3.684225e+07,0.605249
44,1,forest management,3.622698e+07,0.595141
40,1,distributed manufacturing,3.371201e+07,0.553825
49,1,liquefied natural gas (LNG),2.576755e+07,0.423313
8,0,gas turbine,2.552590e+07,0.419343
...,...,...,...,...
11,0,low GHG lighting,2.268657e+07,0.372698
1,0,combined cycle power plant,2.117825e+07,0.347919
21,0,osmotic,2.104861e+07,0.345789
54,1,nutrient management,2.047841e+07,0.336422
26,0,solar heating,1.541945e+07,0.253313
18,0,ocean thermal energy conversion (OTEC),1.103012e+07,0.181204
27,0,updraft,1.097947e+07,0.180372
43,1,energy-from-waste,9.231716e+06,0.151660
2,0,compressed air energy storage (CAES),9.101826e+06,0.149526
25,0,regenerative braking,8.978962e+06,0.147508
50,1,livestock management,8.962547e+06,0.147238
12,0,low GHG public transport / rapid transit design,7.996591e+06,0.131369
30,1,agroforestry,6.371010e+06,0.104664
48,1,inert anode,5.232146e+06,0.085954
29,1,afforestation,5.114686e+06,0.084025
53,1,nuclear fusion,3.960661e+06,0.065066
17,0,non-motorised transport design,3.831696e+06,0.062948
22,0,passive house,3.770893e+06,0.061949
19,0,off-grid systems,2.843348e+06,0.046711
61,1,waste heat reuse,2.299104e+06,0.037770
16,0,new sources of protein,2.005463e+06,0.032946
3,0,compressed/converted natural gas,1.886744e+06,0.030996
24,0,reduced need for travel,1.217982e+06,0.020009
52,1,nuclear fission,5.000000e+05,0.008214
5,0,electron acceptor,4.111080e+05,0.006754
20,0,onshore wind,2.000000e+05,0.003286
4,0,downdraft,5.000000e+04,0.000821
51,1,manure management,5.000000e+04,0.000821
9,0,improved durability,5.000000e+04,0.000821
39,1,direct seeding,5.000000e+04,0.000821

In [283]:
sector_sum.head()

              sector           sum  percentage
2             Energy  2.395613e+09   39.355445
4           Industry  1.502810e+09   24.688351
3  Human settlements  1.037377e+09   17.042169
5          Transport  7.247211e+08   11.905811
1          Buildings  2.849001e+08    4.680376

In [284]:
priority_sum.head()

   priority           sum  percentage
1         1  3.310856e+09   54.391162
0         0  2.776265e+09   45.608838

In [251]:
categories.head()

,sector,technology_group,technology,description,technology_term,source,priority
0,Energy,Solar energy sources,solar PV,Also “solar photovoltaic”; technology of using...,"photovoltaic, PV, “solar cell”",https://www.ctc-n.org/technologies/solar-pv,1
1,Energy,Solar energy sources,concentrated solar power (CSP),Technology of producing electricity by concent...,"“concentrated solar power”, CSP, “concentrated...",https://setis.ec.europa.eu/technologies/concen...,1
2,Energy,Solar energy sources,solar heating,Technology of capturing the sun's radiation an...,“solar heating”,https://www.ctc-n.org/technologies/solar-heating,0
3,Energy,Solar energy sources,solar dryer,"Technology of drying substances, especially fo...",“solar dryer”,https://www.ctc-n.org/technologies/solar-dryer,0
4,Energy,Solar energy sources,solar water pump,Technology of powering electrical water pumps ...,“solar water pump”,https://www.ctc-n.org/technologies/solar-water...,0

In [219]:
extended_categories = pd.merge(technology_table, categories, 
                               how = 'left', left_on = 'category', right_on = 'technology')

In [221]:
extended_categories.groupby('priority').count()['id']

priority
0.0    1085
1.0    1114
Name: id, dtype: int64

In [222]:
1114/(1085+1114)

0.506593906321055

In [226]:
unique_projects_on_pirority = extended_categories.groupby('id').max()['priority'].reset_index()

In [227]:
unique_projects_on_pirority.groupby('priority').count()['id']

priority
0.0    703
1.0    830
Name: id, dtype: int64

In [229]:
#percentage of projects among climate change mitigation just the priorities ones
830/(830+703)

0.5414220482713633

what about the money

In [293]:
extended_categories.to_csv('../data/extended_categories.csv')